language: go
sudo: false
go:
  - tip
before_install:
  - go get github.com/mattn/goveralls
  - go get github.com/golang/dep/cmd/dep
install:
  - $GOPATH/bin/dep ensure -v
script:
  - $GOPATH/bin/goveralls -service=travis-ci